body {

	background-image: url("../images/background.jpg");
	background: cover;
	background-color:  green;
	background-repeat: no-repeat;
	-webkit-background-size: cover;

}

@media only screen and (max-width:  1500px ) {
	body {
		background-color:  purple;
		height: auto;
		width: 100%;
	}

}

@media only screen and (max-width: 927px) {
	body {
		background-color: green;
		background-size: 125% auto;

	}
}
@media only screen and (max-width:  800px) {
	body {
		background-color: yellow;

		width: 100%;
		background-size: 150% auto;
	}
}
@media only screen and (max-width:  700px) {
	body {
		background-color: blue;
		height: auto;
		width: 100%;
		background-size: 200% auto;
	}
}
@media only screen and (max-width:  800px) {
	body {
		background-color: yellow;
		height: auto;
		width: 100%;
		background-size: 150% auto;
	}
}
@media only screen and (max-width:  700px) {
	body {
		background-color:  orange;
		height: auto;
		width: 100%;
		background-size: 250% auto;
	}
}body {

	background-image: url("../images/background.jpg");
	background: cover;
	background-color:  green;
	background-repeat: no-repeat;
	-webkit-background-size: cover;

}

@media only screen and (max-width:  1500px ) {
	body {
		background-color:  purple;
		height: auto;
		width: 100%;
	}

}

@media only screen and (max-width: 927px) {
	body {
		background-color: green;
		background-size: 125% auto;

	}
}
@media only screen and (max-width:  800px) {
	body {
		background-color: yellow;

		width: 100%;
		background-size: 150% auto;
	}
}
@media only screen and (max-width:  700px) {
	body {
		background-color: blue;
		height: auto;
		width: 100%;
		background-size: 200% auto;
	}
}
@media only screen and (max-width:  800px) {
	body {
		background-color: yellow;
		height: auto;
		width: 100%;
		background-size: 150% auto;
	}
}
@media only screen and (max-width:  700px) {
	body {
		background-color:  orange;
		height: auto;
		width: 100%;
		background-size: 250% auto;
	}
}
