body {
	background-image: url("../images/background2.jpg");
	background: cover;
	background-color:  black;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	min-height: 100vh;
}
button {
	text-decoration: none;
  color: white;
  font-family: Helvetica;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  font-family: helvetica, cursive;
	font-weight: lighter;
	background: black;
}
button:hover, button:focus {
	transition: 0.2s;
	color: black;
	background: white;
  border-color: white;
	cursor: pointer;
	outline: none;
}

/**** FLEX  ****/
.parent {
	display: flex;
align-content: center;
  justify-content: center;

}
